<!-- header -->
<!-- <header class="page-header"><h1>Blog</h1></header> -->
<!-- featured articles section -->
<!-- all articles section -->
<div>
<%- include('../partials/_featuredArticles.ejs')%>
</div>
<section class="all-articles-section flex-column ">
  <h2 class="section-title">All Articles</h2>
  <section class="all-articles-container flex-column">
  <% articles.forEach(article => { %>
    <article class="article">
      <h3 class="article-title"><%= article.title %></h3>
      <div class="date-created"><%= article.createdAt .toLocaleDateString()%></div>
      <p class="article-description"><%= article.description %></p>
      <a href="articles/<%= article.slug %>" class="btn btn-primary read-more-btn">Read More</a>
    </article>
    <% }) %>
  </section>
</section>
</section>




</div>