

<main id="swup" class="transition-fade">
      <section class="cover">
        <h1>Blog Articles</h1>
      </section>
      <!-- NEW ARTICLE BUTTON -->
      <div class="w3-center">
      <a href="articles/new" class="btn new-article">Create New Article</a>
      </div>
      <!-- ARTICLES CONTAINER -->
      <div class="articles-container">
          <% articles.forEach(article => { %>
            <div class="articles w3-panel">
                <h1><%= article.title %></h1>
                <p class="date"><%= article.createdAt .toLocaleDateString()%></p>
                <p><%= article.description %></p> 
                <!-- BUTTONS -->
                <a href="articles/<%= article.slug %>" class="btn btn-primary">Read More</a>
                <!-- edit -->
                <a href="articles/edit/<%= article.id %>" class="btn btn-info">Edit</a>
                </div>

            </div>

          <% }) %>

      </section>
    </main>
