
<!-- ARTICLES CONTAINER -->
<section class="my-container grid-item-1 flex-container intro" id="about-intro">
    <h1>Blog</h1>
</section>

<section class="my-container flex-container ">
    <% articles.forEach(article => { %>
        <div class="articles w3-panel">
          <h1><%= article.title %></h1>
          <p class="date"><%= article.createdAt .toLocaleDateString()%></p>
          <p><%= article.description %></p> 
          <!-- BUTTONS -->
          <a href="articles/<%= article.slug %>" class="btn btn-primary">Read More</a>
          <!-- edit -->
          <a href="articles/edit/<%= article.id %>" class="btn btn-info">Edit</a>
        </div>
      <% }) %>
</section>
