<!--ARTICLES CONTAINER -->
      
<a class="btn-primary btn" href="/articles/new"> new article</a>
<a class="interal-link" href="files/css_selector_cheatsheet.pdf">CSS CS</a> 
<a class="interal-link" href="files/mongodb-cheat-sheet.pdf">MongoDB CS</a>
<% articles.forEach(article => { %>
  <h2><%= article.title %></h2>
  <p class="date"><%= article.createdAt .toLocaleDateString()%></p>
  <p><%= article.description %></p> 
  <p><%= article.featured %></p> 
  <p><%= article.id %></p> 
  <!-- BUTTONS -->
  <a href="articles/<%= article.slug %>" class="btn btn-primary">Read More</a>
  <!-- edit -->
  <a href="articles/edit/<%= article.id %>" class="btn btn-info">Edit</a>
  <!-- delete button: override the post method -->
  <form action="/articles/<%= article.id %>?_method=DELETE" method="POST" class="d-inline">
    <button type="submit" class="btn btn-danger"> Delete </button>
  </form>
  <hr>

  <% }) %>
  </div>
      <!-- USER CONTAINER -->
      <div class="w3-panel articles">
        <div><h1>User Dashboard</h1>
        <a class="btn-primary btn" href="/users/register"> create new user</a>
      </div>
        <hr>
          <% users.forEach(user => { %>
                <p>username: <%= user.username %></p>
                <p>role: <%= user.role %></p>
                <p>id: <%= user.id %></p>
                <p>date created: <%= user.createdAt .toLocaleDateString() %></p>
                                <!-- delete button: override the post method -->
                <form action="/users/<%= user.id %>?_method=DELETE" method="POST" class="d-inline">
                  <button type="submit" class="btn btn-danger"> Delete </button>
                </form>
                <hr>
          <% }) %>
        </div>
